@media screen and (max-width: 719px) {
  html, body {
    scroll-behavior: smooth;
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
  }
  html > body, body > body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
  }
  html > body.lock, body > body.lock {
    overflow: hidden;
  }
}
@media screen and (max-width: 719px) and (-webkit-min-device-pixel-ratio: 2) {
  html > body.lock, body > body.lock {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-y: hidden;
  }
}
@media screen and (max-width: 719px) {
  .wrapper .cart .cartContent .cartHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    height: 135px;
  }
  .wrapper .cart .cartContent .cartHeader h1 {
    font-weight: 600;
    font-size: 24px;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 35px;
    position: relative;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input {
    font-family: var(--medium);
    color: rgb(227, 30, 36);
    border: 1px rgb(227, 30, 36) solid;
    outline: none;
    height: inherit;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input::-webkit-input-placeholder {
    color: rgb(227, 30, 36);
    font-weight: 500;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input::-moz-placeholder {
    color: rgb(227, 30, 36);
    font-weight: 500;
    -moz-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input:-ms-input-placeholder {
    color: rgb(227, 30, 36);
    font-weight: 500;
    -ms-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input::-ms-input-placeholder {
    color: rgb(227, 30, 36);
    font-weight: 500;
    -ms-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input::placeholder {
    color: rgb(227, 30, 36);
    font-weight: 500;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input:focus::-webkit-input-placeholder {
    opacity: 0.3;
    -webkit-transition: 0.1s opacity;
    transition: 0.1s opacity;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input:focus::-moz-placeholder {
    opacity: 0.3;
    -moz-transition: 0.1s opacity;
    transition: 0.1s opacity;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input:focus:-ms-input-placeholder {
    opacity: 0.3;
    -ms-transition: 0.1s opacity;
    transition: 0.1s opacity;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input:focus::-ms-input-placeholder {
    opacity: 0.3;
    -ms-transition: 0.1s opacity;
    transition: 0.1s opacity;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode input:focus::placeholder {
    opacity: 0.3;
    -webkit-transition: 0.1s opacity;
    transition: 0.1s opacity;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode button {
    font-family: var(--semiBold);
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    position: absolute;
    cursor: pointer;
    font-weight: 600;
    width: 135px;
    height: inherit;
    top: 0;
    right: 0;
    font-size: 16px;
    border-radius: 10px;
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode button:hover, .wrapper .cart .cartContent .cartHeader .promoCode button:focus {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(227, 30, 36) solid;
    color: rgb(227, 30, 36);
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode button:hover.disable:hover, .wrapper .cart .cartContent .cartHeader .promoCode button:hover.disable:focus, .wrapper .cart .cartContent .cartHeader .promoCode button:focus.disable:hover, .wrapper .cart .cartContent .cartHeader .promoCode button:focus.disable:focus {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
  }
}
@media screen and (max-width: 719px) and (max-width: 719px) {
  .wrapper .cart .cartContent .cartHeader .promoCode button {
    background-color: rgb(255, 255, 255);
    color: rgb(227, 30, 36);
    border: 1px rgb(227, 30, 36) solid;
    cursor: default;
  }
  .wrapper .cart .cartContent .cartHeader .promoCode button:focus {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    border: none;
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
}
@media screen and (max-width: 719px) {
  .wrapper .cart .cartContent .cartHeader .promoCode button {
    background-color: inherit;
    font-size: clamp(12px, 1.94vw, 14px);
  }
  .wrapper .cart .cartContent .cartList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    padding: 15px 0;
  }
  .wrapper .cart .cartContent .cartList .emptyMessage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 25px;
  }
  .wrapper .cart .cartContent .cartList .emptyMessage span {
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
  }
  .wrapper .cart .cartContent .cartList .emptyMessage a {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    -webkit-transition: background-color 0.2s, opacity 0.3s;
    transition: background-color 0.2s, opacity 0.3s;
    width: 100%;
  }
  .wrapper .cart .cartContent .cartList .emptyMessage a.disable {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}
@media screen and (max-width: 719px) and (max-width: 719px) {
  .wrapper .cart .cartContent .cartList .emptyMessage a {
    cursor: default;
  }
}
@media screen and (max-width: 719px) {
  .wrapper .cart .cartContent .cartList .emptyMessage a:hover, .wrapper .cart .cartContent .cartList .emptyMessage a:focus {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(227, 30, 36) solid;
    color: rgb(227, 30, 36);
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
  .wrapper .cart .cartContent .cartList .emptyMessage a:hover.disable:hover, .wrapper .cart .cartContent .cartList .emptyMessage a:hover.disable:focus, .wrapper .cart .cartContent .cartList .emptyMessage a:focus.disable:hover, .wrapper .cart .cartContent .cartList .emptyMessage a:focus.disable:focus {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
  }
  .wrapper .cart .cartContent .cartList .cartItem {
    background-color: var(--grey-light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 120px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border-radius: 10px;
    padding: 15px 15px 60px 15px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemDesc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    font-weight: 600;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemDesc .itemName {
    max-width: 195px;
    font-size: clamp(18px, 3.05vw, 22px);
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemDesc .itemComposition {
    font-size: clamp(12px, 1.94vw, 14px);
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemPrice {
    white-space: nowrap;
    font-weight: 600;
    font-size: clamp(16px, 2.5vw, 18px);
  }
  .wrapper .cart .cartContent .cartList .cartItem .removeItem, .wrapper .cart .cartContent .cartList .cartItem .itemChanges {
    position: absolute;
    bottom: 15px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .removeItem {
    background-color: inherit;
    left: 15px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 130px;
    width: clamp(80px, 15.02vw, 108px);
    right: 15px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges button {
    cursor: pointer;
    font-weight: 600;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    font-size: 24px;
  }
}
@media screen and (max-width: 719px) and (max-width: 719px) {
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges button.decrease, .wrapper .cart .cartContent .cartList .cartItem .itemChanges button.increase {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    cursor: default;
    border: none;
    width: clamp(25px, 4.17vw, 30px);
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges button.decrease {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges button.decrease.disable {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges button ~ .counter {
    font-size: clamp(16px, 2.78vw, 20px);
  }
}
@media screen and (max-width: 719px) {
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges .counter {
    font-weight: 600;
    font-size: 18px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges .decrease {
    background-color: rgb(255, 255, 255);
    color: rgb(227, 30, 36);
    border: 3px rgb(227, 30, 36) solid;
  }
}
@media screen and (max-width: 719px) and (min-width: 720px) {
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges .decrease.disable {
    color: rgb(229, 229, 229);
    border: 3px rgb(229, 229, 229) solid;
  }
}
@media screen and (max-width: 719px) {
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges .increase {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
  }
  .wrapper .cart .cartContent .orderInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 15px;
    font-weight: 600;
    font-size: 16px;
    padding-top: 15px;
  }
  .wrapper .sauces, .wrapper .devices {
    margin-top: 30px;
  }
  .wrapper .sauces .saucesContent, .wrapper .sauces .devicesContent, .wrapper .devices .saucesContent, .wrapper .devices .devicesContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .wrapper .sauces .saucesContent .sectionTitle h1, .wrapper .sauces .devicesContent .sectionTitle h1, .wrapper .devices .saucesContent .sectionTitle h1, .wrapper .devices .devicesContent .sectionTitle h1 {
    font-weight: 600;
    font-size: 22px;
  }
  .wrapper .sauces .saucesContent .saucesList, .wrapper .sauces .saucesContent .deviceList, .wrapper .sauces .devicesContent .saucesList, .wrapper .sauces .devicesContent .deviceList, .wrapper .devices .saucesContent .saucesList, .wrapper .devices .saucesContent .deviceList, .wrapper .devices .devicesContent .saucesList, .wrapper .devices .devicesContent .deviceList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .wrapper .sauces .saucesContent .saucesList .sauceItem, .wrapper .sauces .saucesContent .saucesList .deviceItem, .wrapper .sauces .saucesContent .deviceList .sauceItem, .wrapper .sauces .saucesContent .deviceList .deviceItem, .wrapper .sauces .devicesContent .saucesList .sauceItem, .wrapper .sauces .devicesContent .saucesList .deviceItem, .wrapper .sauces .devicesContent .deviceList .sauceItem, .wrapper .sauces .devicesContent .deviceList .deviceItem, .wrapper .devices .saucesContent .saucesList .sauceItem, .wrapper .devices .saucesContent .saucesList .deviceItem, .wrapper .devices .saucesContent .deviceList .sauceItem, .wrapper .devices .saucesContent .deviceList .deviceItem, .wrapper .devices .devicesContent .saucesList .sauceItem, .wrapper .devices .devicesContent .saucesList .deviceItem, .wrapper .devices .devicesContent .deviceList .sauceItem, .wrapper .devices .devicesContent .deviceList .deviceItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 15px;
    width: 100%;
  }
}
@media screen and (max-width: 719px) and (max-width: 360px) {
  .wrapper .sauces .saucesContent .saucesList .sauceItem, .wrapper .sauces .saucesContent .saucesList .deviceItem, .wrapper .sauces .saucesContent .deviceList .sauceItem, .wrapper .sauces .saucesContent .deviceList .deviceItem, .wrapper .sauces .devicesContent .saucesList .sauceItem, .wrapper .sauces .devicesContent .saucesList .deviceItem, .wrapper .sauces .devicesContent .deviceList .sauceItem, .wrapper .sauces .devicesContent .deviceList .deviceItem, .wrapper .devices .saucesContent .saucesList .sauceItem, .wrapper .devices .saucesContent .saucesList .deviceItem, .wrapper .devices .saucesContent .deviceList .sauceItem, .wrapper .devices .saucesContent .deviceList .deviceItem, .wrapper .devices .devicesContent .saucesList .sauceItem, .wrapper .devices .devicesContent .saucesList .deviceItem, .wrapper .devices .devicesContent .deviceList .sauceItem, .wrapper .devices .devicesContent .deviceList .deviceItem {
    gap: 8px;
  }
}
@media screen and (max-width: 719px) {
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemPrice, .wrapper .sauces .saucesContent .saucesList .sauceItem .sauceName, .wrapper .sauces .saucesContent .saucesList .sauceItem .deviceName, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemPrice, .wrapper .sauces .saucesContent .saucesList .deviceItem .sauceName, .wrapper .sauces .saucesContent .saucesList .deviceItem .deviceName, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemPrice, .wrapper .sauces .saucesContent .deviceList .sauceItem .sauceName, .wrapper .sauces .saucesContent .deviceList .sauceItem .deviceName, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemPrice, .wrapper .sauces .saucesContent .deviceList .deviceItem .sauceName, .wrapper .sauces .saucesContent .deviceList .deviceItem .deviceName, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemPrice, .wrapper .sauces .devicesContent .saucesList .sauceItem .sauceName, .wrapper .sauces .devicesContent .saucesList .sauceItem .deviceName, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemPrice, .wrapper .sauces .devicesContent .saucesList .deviceItem .sauceName, .wrapper .sauces .devicesContent .saucesList .deviceItem .deviceName, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemPrice, .wrapper .sauces .devicesContent .deviceList .sauceItem .sauceName, .wrapper .sauces .devicesContent .deviceList .sauceItem .deviceName, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemPrice, .wrapper .sauces .devicesContent .deviceList .deviceItem .sauceName, .wrapper .sauces .devicesContent .deviceList .deviceItem .deviceName, .wrapper .devices .saucesContent .saucesList .sauceItem .itemPrice, .wrapper .devices .saucesContent .saucesList .sauceItem .sauceName, .wrapper .devices .saucesContent .saucesList .sauceItem .deviceName, .wrapper .devices .saucesContent .saucesList .deviceItem .itemPrice, .wrapper .devices .saucesContent .saucesList .deviceItem .sauceName, .wrapper .devices .saucesContent .saucesList .deviceItem .deviceName, .wrapper .devices .saucesContent .deviceList .sauceItem .itemPrice, .wrapper .devices .saucesContent .deviceList .sauceItem .sauceName, .wrapper .devices .saucesContent .deviceList .sauceItem .deviceName, .wrapper .devices .saucesContent .deviceList .deviceItem .itemPrice, .wrapper .devices .saucesContent .deviceList .deviceItem .sauceName, .wrapper .devices .saucesContent .deviceList .deviceItem .deviceName, .wrapper .devices .devicesContent .saucesList .sauceItem .itemPrice, .wrapper .devices .devicesContent .saucesList .sauceItem .sauceName, .wrapper .devices .devicesContent .saucesList .sauceItem .deviceName, .wrapper .devices .devicesContent .saucesList .deviceItem .itemPrice, .wrapper .devices .devicesContent .saucesList .deviceItem .sauceName, .wrapper .devices .devicesContent .saucesList .deviceItem .deviceName, .wrapper .devices .devicesContent .deviceList .sauceItem .itemPrice, .wrapper .devices .devicesContent .deviceList .sauceItem .sauceName, .wrapper .devices .devicesContent .deviceList .sauceItem .deviceName, .wrapper .devices .devicesContent .deviceList .deviceItem .itemPrice, .wrapper .devices .devicesContent .deviceList .deviceItem .sauceName, .wrapper .devices .devicesContent .deviceList .deviceItem .deviceName {
    font-size: clamp(12px, 2.22vw, 16px);
  }
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemPrice.sauceName, .wrapper .sauces .saucesContent .saucesList .sauceItem .itemPrice.deviceName, .wrapper .sauces .saucesContent .saucesList .sauceItem .sauceName.sauceName, .wrapper .sauces .saucesContent .saucesList .sauceItem .sauceName.deviceName, .wrapper .sauces .saucesContent .saucesList .sauceItem .deviceName.sauceName, .wrapper .sauces .saucesContent .saucesList .sauceItem .deviceName.deviceName, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemPrice.sauceName, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemPrice.deviceName, .wrapper .sauces .saucesContent .saucesList .deviceItem .sauceName.sauceName, .wrapper .sauces .saucesContent .saucesList .deviceItem .sauceName.deviceName, .wrapper .sauces .saucesContent .saucesList .deviceItem .deviceName.sauceName, .wrapper .sauces .saucesContent .saucesList .deviceItem .deviceName.deviceName, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemPrice.sauceName, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemPrice.deviceName, .wrapper .sauces .saucesContent .deviceList .sauceItem .sauceName.sauceName, .wrapper .sauces .saucesContent .deviceList .sauceItem .sauceName.deviceName, .wrapper .sauces .saucesContent .deviceList .sauceItem .deviceName.sauceName, .wrapper .sauces .saucesContent .deviceList .sauceItem .deviceName.deviceName, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemPrice.sauceName, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemPrice.deviceName, .wrapper .sauces .saucesContent .deviceList .deviceItem .sauceName.sauceName, .wrapper .sauces .saucesContent .deviceList .deviceItem .sauceName.deviceName, .wrapper .sauces .saucesContent .deviceList .deviceItem .deviceName.sauceName, .wrapper .sauces .saucesContent .deviceList .deviceItem .deviceName.deviceName, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemPrice.sauceName, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemPrice.deviceName, .wrapper .sauces .devicesContent .saucesList .sauceItem .sauceName.sauceName, .wrapper .sauces .devicesContent .saucesList .sauceItem .sauceName.deviceName, .wrapper .sauces .devicesContent .saucesList .sauceItem .deviceName.sauceName, .wrapper .sauces .devicesContent .saucesList .sauceItem .deviceName.deviceName, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemPrice.sauceName, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemPrice.deviceName, .wrapper .sauces .devicesContent .saucesList .deviceItem .sauceName.sauceName, .wrapper .sauces .devicesContent .saucesList .deviceItem .sauceName.deviceName, .wrapper .sauces .devicesContent .saucesList .deviceItem .deviceName.sauceName, .wrapper .sauces .devicesContent .saucesList .deviceItem .deviceName.deviceName, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemPrice.sauceName, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemPrice.deviceName, .wrapper .sauces .devicesContent .deviceList .sauceItem .sauceName.sauceName, .wrapper .sauces .devicesContent .deviceList .sauceItem .sauceName.deviceName, .wrapper .sauces .devicesContent .deviceList .sauceItem .deviceName.sauceName, .wrapper .sauces .devicesContent .deviceList .sauceItem .deviceName.deviceName, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemPrice.sauceName, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemPrice.deviceName, .wrapper .sauces .devicesContent .deviceList .deviceItem .sauceName.sauceName, .wrapper .sauces .devicesContent .deviceList .deviceItem .sauceName.deviceName, .wrapper .sauces .devicesContent .deviceList .deviceItem .deviceName.sauceName, .wrapper .sauces .devicesContent .deviceList .deviceItem .deviceName.deviceName, .wrapper .devices .saucesContent .saucesList .sauceItem .itemPrice.sauceName, .wrapper .devices .saucesContent .saucesList .sauceItem .itemPrice.deviceName, .wrapper .devices .saucesContent .saucesList .sauceItem .sauceName.sauceName, .wrapper .devices .saucesContent .saucesList .sauceItem .sauceName.deviceName, .wrapper .devices .saucesContent .saucesList .sauceItem .deviceName.sauceName, .wrapper .devices .saucesContent .saucesList .sauceItem .deviceName.deviceName, .wrapper .devices .saucesContent .saucesList .deviceItem .itemPrice.sauceName, .wrapper .devices .saucesContent .saucesList .deviceItem .itemPrice.deviceName, .wrapper .devices .saucesContent .saucesList .deviceItem .sauceName.sauceName, .wrapper .devices .saucesContent .saucesList .deviceItem .sauceName.deviceName, .wrapper .devices .saucesContent .saucesList .deviceItem .deviceName.sauceName, .wrapper .devices .saucesContent .saucesList .deviceItem .deviceName.deviceName, .wrapper .devices .saucesContent .deviceList .sauceItem .itemPrice.sauceName, .wrapper .devices .saucesContent .deviceList .sauceItem .itemPrice.deviceName, .wrapper .devices .saucesContent .deviceList .sauceItem .sauceName.sauceName, .wrapper .devices .saucesContent .deviceList .sauceItem .sauceName.deviceName, .wrapper .devices .saucesContent .deviceList .sauceItem .deviceName.sauceName, .wrapper .devices .saucesContent .deviceList .sauceItem .deviceName.deviceName, .wrapper .devices .saucesContent .deviceList .deviceItem .itemPrice.sauceName, .wrapper .devices .saucesContent .deviceList .deviceItem .itemPrice.deviceName, .wrapper .devices .saucesContent .deviceList .deviceItem .sauceName.sauceName, .wrapper .devices .saucesContent .deviceList .deviceItem .sauceName.deviceName, .wrapper .devices .saucesContent .deviceList .deviceItem .deviceName.sauceName, .wrapper .devices .saucesContent .deviceList .deviceItem .deviceName.deviceName, .wrapper .devices .devicesContent .saucesList .sauceItem .itemPrice.sauceName, .wrapper .devices .devicesContent .saucesList .sauceItem .itemPrice.deviceName, .wrapper .devices .devicesContent .saucesList .sauceItem .sauceName.sauceName, .wrapper .devices .devicesContent .saucesList .sauceItem .sauceName.deviceName, .wrapper .devices .devicesContent .saucesList .sauceItem .deviceName.sauceName, .wrapper .devices .devicesContent .saucesList .sauceItem .deviceName.deviceName, .wrapper .devices .devicesContent .saucesList .deviceItem .itemPrice.sauceName, .wrapper .devices .devicesContent .saucesList .deviceItem .itemPrice.deviceName, .wrapper .devices .devicesContent .saucesList .deviceItem .sauceName.sauceName, .wrapper .devices .devicesContent .saucesList .deviceItem .sauceName.deviceName, .wrapper .devices .devicesContent .saucesList .deviceItem .deviceName.sauceName, .wrapper .devices .devicesContent .saucesList .deviceItem .deviceName.deviceName, .wrapper .devices .devicesContent .deviceList .sauceItem .itemPrice.sauceName, .wrapper .devices .devicesContent .deviceList .sauceItem .itemPrice.deviceName, .wrapper .devices .devicesContent .deviceList .sauceItem .sauceName.sauceName, .wrapper .devices .devicesContent .deviceList .sauceItem .sauceName.deviceName, .wrapper .devices .devicesContent .deviceList .sauceItem .deviceName.sauceName, .wrapper .devices .devicesContent .deviceList .sauceItem .deviceName.deviceName, .wrapper .devices .devicesContent .deviceList .deviceItem .itemPrice.sauceName, .wrapper .devices .devicesContent .deviceList .deviceItem .itemPrice.deviceName, .wrapper .devices .devicesContent .deviceList .deviceItem .sauceName.sauceName, .wrapper .devices .devicesContent .deviceList .deviceItem .sauceName.deviceName, .wrapper .devices .devicesContent .deviceList .deviceItem .deviceName.sauceName, .wrapper .devices .devicesContent .deviceList .deviceItem .deviceName.deviceName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-hyphens: auto;
        hyphens: auto;
    width: clamp(100px, 17.38vw, 125px);
  }
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemPrice.itemPrice, .wrapper .sauces .saucesContent .saucesList .sauceItem .sauceName.itemPrice, .wrapper .sauces .saucesContent .saucesList .sauceItem .deviceName.itemPrice, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemPrice.itemPrice, .wrapper .sauces .saucesContent .saucesList .deviceItem .sauceName.itemPrice, .wrapper .sauces .saucesContent .saucesList .deviceItem .deviceName.itemPrice, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemPrice.itemPrice, .wrapper .sauces .saucesContent .deviceList .sauceItem .sauceName.itemPrice, .wrapper .sauces .saucesContent .deviceList .sauceItem .deviceName.itemPrice, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemPrice.itemPrice, .wrapper .sauces .saucesContent .deviceList .deviceItem .sauceName.itemPrice, .wrapper .sauces .saucesContent .deviceList .deviceItem .deviceName.itemPrice, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemPrice.itemPrice, .wrapper .sauces .devicesContent .saucesList .sauceItem .sauceName.itemPrice, .wrapper .sauces .devicesContent .saucesList .sauceItem .deviceName.itemPrice, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemPrice.itemPrice, .wrapper .sauces .devicesContent .saucesList .deviceItem .sauceName.itemPrice, .wrapper .sauces .devicesContent .saucesList .deviceItem .deviceName.itemPrice, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemPrice.itemPrice, .wrapper .sauces .devicesContent .deviceList .sauceItem .sauceName.itemPrice, .wrapper .sauces .devicesContent .deviceList .sauceItem .deviceName.itemPrice, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemPrice.itemPrice, .wrapper .sauces .devicesContent .deviceList .deviceItem .sauceName.itemPrice, .wrapper .sauces .devicesContent .deviceList .deviceItem .deviceName.itemPrice, .wrapper .devices .saucesContent .saucesList .sauceItem .itemPrice.itemPrice, .wrapper .devices .saucesContent .saucesList .sauceItem .sauceName.itemPrice, .wrapper .devices .saucesContent .saucesList .sauceItem .deviceName.itemPrice, .wrapper .devices .saucesContent .saucesList .deviceItem .itemPrice.itemPrice, .wrapper .devices .saucesContent .saucesList .deviceItem .sauceName.itemPrice, .wrapper .devices .saucesContent .saucesList .deviceItem .deviceName.itemPrice, .wrapper .devices .saucesContent .deviceList .sauceItem .itemPrice.itemPrice, .wrapper .devices .saucesContent .deviceList .sauceItem .sauceName.itemPrice, .wrapper .devices .saucesContent .deviceList .sauceItem .deviceName.itemPrice, .wrapper .devices .saucesContent .deviceList .deviceItem .itemPrice.itemPrice, .wrapper .devices .saucesContent .deviceList .deviceItem .sauceName.itemPrice, .wrapper .devices .saucesContent .deviceList .deviceItem .deviceName.itemPrice, .wrapper .devices .devicesContent .saucesList .sauceItem .itemPrice.itemPrice, .wrapper .devices .devicesContent .saucesList .sauceItem .sauceName.itemPrice, .wrapper .devices .devicesContent .saucesList .sauceItem .deviceName.itemPrice, .wrapper .devices .devicesContent .saucesList .deviceItem .itemPrice.itemPrice, .wrapper .devices .devicesContent .saucesList .deviceItem .sauceName.itemPrice, .wrapper .devices .devicesContent .saucesList .deviceItem .deviceName.itemPrice, .wrapper .devices .devicesContent .deviceList .sauceItem .itemPrice.itemPrice, .wrapper .devices .devicesContent .deviceList .sauceItem .sauceName.itemPrice, .wrapper .devices .devicesContent .deviceList .sauceItem .deviceName.itemPrice, .wrapper .devices .devicesContent .deviceList .deviceItem .itemPrice.itemPrice, .wrapper .devices .devicesContent .deviceList .deviceItem .sauceName.itemPrice, .wrapper .devices .devicesContent .deviceList .deviceItem .deviceName.itemPrice {
    white-space: nowrap;
  }
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 130px;
    width: clamp(80px, 15.02vw, 108px);
  }
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges button, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges button, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges button, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges button, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges button, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges button, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges button, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges button, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges button, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges button, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges button, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges button, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges button, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges button, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges button, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges button {
    cursor: pointer;
    font-weight: 600;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    font-size: 24px;
  }
}
@media screen and (max-width: 719px) and (max-width: 719px) {
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges button.decrease, .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges button.increase, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges button.decrease, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges button.increase, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges button.decrease, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges button.increase, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges button.decrease, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges button.increase, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges button.decrease, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges button.increase, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges button.decrease, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges button.increase, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges button.decrease, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges button.increase, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges button.decrease, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges button.increase, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges button.decrease, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges button.increase, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges button.decrease, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges button.increase, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges button.decrease, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges button.increase, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges button.decrease, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges button.increase, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges button.decrease, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges button.increase, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges button.decrease, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges button.increase, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges button.decrease, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges button.increase, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges button.decrease, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges button.increase {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    cursor: default;
    border: none;
    width: clamp(25px, 4.17vw, 30px);
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
  }
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges button.decrease, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges button.decrease, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges button.decrease, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges button.decrease, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges button.decrease, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges button.decrease, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges button.decrease, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges button.decrease, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges button.decrease, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges button.decrease, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges button.decrease, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges button.decrease, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges button.decrease, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges button.decrease, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges button.decrease, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges button.decrease {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges button.decrease.disable, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges button.decrease.disable, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges button.decrease.disable, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges button.decrease.disable, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges button.decrease.disable, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges button.decrease.disable, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges button.decrease.disable, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges button.decrease.disable, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges button.decrease.disable, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges button.decrease.disable, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges button.decrease.disable, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges button.decrease.disable, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges button.decrease.disable, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges button.decrease.disable, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges button.decrease.disable, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges button.decrease.disable {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges button ~ .counter, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges button ~ .counter, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges button ~ .counter, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges button ~ .counter, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges button ~ .counter, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges button ~ .counter, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges button ~ .counter, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges button ~ .counter, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges button ~ .counter, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges button ~ .counter, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges button ~ .counter, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges button ~ .counter, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges button ~ .counter, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges button ~ .counter, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges button ~ .counter, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges button ~ .counter {
    font-size: clamp(16px, 2.78vw, 20px);
  }
}
@media screen and (max-width: 719px) {
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges .counter, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges .counter, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges .counter, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges .counter, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges .counter, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges .counter, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges .counter, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges .counter, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges .counter, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges .counter, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges .counter, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges .counter, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges .counter, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges .counter, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges .counter, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges .counter {
    font-weight: 600;
    font-size: 18px;
  }
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges .decrease, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges .decrease, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges .decrease, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges .decrease, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges .decrease, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges .decrease, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges .decrease, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges .decrease, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges .decrease, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges .decrease, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges .decrease, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges .decrease, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges .decrease, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges .decrease, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges .decrease, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges .decrease {
    background-color: rgb(255, 255, 255);
    color: rgb(227, 30, 36);
    border: 3px rgb(227, 30, 36) solid;
  }
}
@media screen and (max-width: 719px) and (min-width: 720px) {
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges .decrease.disable, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges .decrease.disable, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges .decrease.disable, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges .decrease.disable, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges .decrease.disable, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges .decrease.disable, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges .decrease.disable, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges .decrease.disable, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges .decrease.disable, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges .decrease.disable, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges .decrease.disable, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges .decrease.disable, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges .decrease.disable, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges .decrease.disable, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges .decrease.disable, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges .decrease.disable {
    color: rgb(229, 229, 229);
    border: 3px rgb(229, 229, 229) solid;
  }
}
@media screen and (max-width: 719px) {
  .wrapper .sauces .saucesContent .saucesList .sauceItem .itemChanges .increase, .wrapper .sauces .saucesContent .saucesList .deviceItem .itemChanges .increase, .wrapper .sauces .saucesContent .deviceList .sauceItem .itemChanges .increase, .wrapper .sauces .saucesContent .deviceList .deviceItem .itemChanges .increase, .wrapper .sauces .devicesContent .saucesList .sauceItem .itemChanges .increase, .wrapper .sauces .devicesContent .saucesList .deviceItem .itemChanges .increase, .wrapper .sauces .devicesContent .deviceList .sauceItem .itemChanges .increase, .wrapper .sauces .devicesContent .deviceList .deviceItem .itemChanges .increase, .wrapper .devices .saucesContent .saucesList .sauceItem .itemChanges .increase, .wrapper .devices .saucesContent .saucesList .deviceItem .itemChanges .increase, .wrapper .devices .saucesContent .deviceList .sauceItem .itemChanges .increase, .wrapper .devices .saucesContent .deviceList .deviceItem .itemChanges .increase, .wrapper .devices .devicesContent .saucesList .sauceItem .itemChanges .increase, .wrapper .devices .devicesContent .saucesList .deviceItem .itemChanges .increase, .wrapper .devices .devicesContent .deviceList .sauceItem .itemChanges .increase, .wrapper .devices .devicesContent .deviceList .deviceItem .itemChanges .increase {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
  }
  .wrapper .orderDelivery {
    background-color: var(--grey-light);
    padding: 20px 0 25px 0;
    margin-top: 30px;
  }
  .wrapper .orderDelivery .deliveryContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .wrapper .orderDelivery .deliveryContent .sectionTitle, .wrapper .orderDelivery .deliveryContent .deliveryButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper .orderDelivery .deliveryContent .sectionTitle h1, .wrapper .orderDelivery .deliveryContent .sectionTitle .totalSum {
    font-weight: 600;
    font-size: clamp(18px, 3.05vw, 22px);
  }
  .wrapper .orderDelivery .deliveryContent .confirmButton a {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    -webkit-transition: background-color 0.2s, opacity 0.3s;
    transition: background-color 0.2s, opacity 0.3s;
    width: 100%;
  }
  .wrapper .orderDelivery .deliveryContent .confirmButton a.disable {
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}
@media screen and (max-width: 719px) and (max-width: 719px) {
  .wrapper .orderDelivery .deliveryContent .confirmButton a {
    cursor: default;
  }
}
@media screen and (max-width: 719px) {
  .wrapper .orderDelivery .deliveryContent .confirmButton a:hover, .wrapper .orderDelivery .deliveryContent .confirmButton a:focus {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(227, 30, 36) solid;
    color: rgb(227, 30, 36);
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
  .wrapper .orderDelivery .deliveryContent .confirmButton a:hover.disable:hover, .wrapper .orderDelivery .deliveryContent .confirmButton a:hover.disable:focus, .wrapper .orderDelivery .deliveryContent .confirmButton a:focus.disable:hover, .wrapper .orderDelivery .deliveryContent .confirmButton a:focus.disable:focus {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
  }
  .wrapper .orderDelivery .deliveryContent .confirmButton a .totalSum {
    padding-left: 5px;
  }
}