@media only screen and (max-width: 719px) and (min-width: 320px) {
  html, body {
    scroll-behavior: smooth;
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
  }
  html > body, body > body {
    width: 100%;
    height: 100%;
  }
  html > body.lock, body > body.lock {
    overflow: hidden;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  html > body.lock, body > body.lock {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-y: hidden;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 40px 0;
  }
  .wrapper .timeSet, .wrapper .categories, .wrapper .confirmation {
    display: none;
  }
  .wrapper .confirmTitle {
    margin-top: 30px;
  }
  .wrapper .confirmTitle .titleContent h1 {
    font-weight: 600;
    font-size: 24px;
  }
  .wrapper .cart .cartContent {
    background-color: var(--grey-light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    padding: 15px;
  }
  .wrapper .cart .cartContent .cartHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .wrapper .cart .cartContent .cartHeader span {
    font-weight: 500;
    font-size: 18px;
  }
  .wrapper .cart .cartContent .cartList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .wrapper .cart .cartContent .cartList .emptyMessage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 25px;
  }
  .wrapper .cart .cartContent .cartList .emptyMessage span {
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
  }
  .wrapper .cart .cartContent .cartList .emptyMessage a {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    -webkit-transition: 0.2s background-color, opacity;
    transition: 0.2s background-color, opacity;
    width: 100%;
  }
  .wrapper .cart .cartContent .cartList .emptyMessage a:hover, .wrapper .cart .cartContent .cartList .emptyMessage a:focus {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(227, 30, 36) solid;
    color: rgb(227, 30, 36);
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
  .wrapper .cart .cartContent .cartList .emptyMessage a:hover.disable:hover, .wrapper .cart .cartContent .cartList .emptyMessage a:hover.disable:focus, .wrapper .cart .cartContent .cartList .emptyMessage a:focus.disable:hover, .wrapper .cart .cartContent .cartList .emptyMessage a:focus.disable:focus {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
  }
  .wrapper .cart .cartContent .cartList .emptyMessage a.disable {
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) and (max-width: 719px) {
  .wrapper .cart .cartContent .cartList .emptyMessage a {
    cursor: default;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) {
  .wrapper .cart .cartContent .cartList .cartItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border-radius: 10px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemDesc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    font-weight: 600;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemDesc .itemName {
    max-width: 195px;
    font-size: clamp(12px, 1.94vw, 14px);
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemDesc .itemComposition {
    font-size: clamp(12px, 1.94vw, 14px);
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemPrice {
    white-space: nowrap;
    font-weight: 600;
    font-size: clamp(12px, 1.94vw, 14px);
  }
  .wrapper .cart .cartContent .cartList .cartItem .removeItem, .wrapper .cart .cartContent .cartList .cartItem .itemChanges {
    position: absolute;
    bottom: 15px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .removeItem {
    background-color: inherit;
    left: 15px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 130px;
    width: clamp(80px, 15.02vw, 108px);
    right: 15px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges button {
    cursor: pointer;
    font-weight: 600;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    font-size: 24px;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) and (max-width: 719px) {
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges button.decrease, .wrapper .cart .cartContent .cartList .cartItem .itemChanges button.increase {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    border: none;
    width: clamp(25px, 4.17vw, 30px);
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges button.decrease.disable {
    opacity: 0.5;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges button ~ .counter {
    font-size: clamp(16px, 2.78vw, 20px);
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) {
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges .counter {
    font-weight: 600;
    font-size: 18px;
  }
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges .decrease {
    background-color: rgb(255, 255, 255);
    color: rgb(227, 30, 36);
    border: 3px rgb(227, 30, 36) solid;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) and (min-width: 720px) {
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges .decrease.disable {
    color: rgb(229, 229, 229);
    border: 3px rgb(229, 229, 229) solid;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) {
  .wrapper .cart .cartContent .cartList .cartItem .itemChanges .increase {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
  }
  .wrapper .cart .cartContent .orderInfo {
    border-top: 2px var(--grey-dark) solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 15px;
    font-weight: 600;
    font-size: 16px;
    padding-top: 20px;
  }
  .wrapper .cart .cartContent .orderInfo .orderSum {
    font-size: clamp(12px, 1.94vw, 14px);
  }
  .wrapper .cart .cartContent .orderInfo .promoCode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 35px;
    position: relative;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input {
    font-family: var(--medium);
    color: rgb(227, 30, 36);
    border: 1px rgb(227, 30, 36) solid;
    outline: none;
    height: inherit;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input::-webkit-input-placeholder {
    color: rgb(227, 30, 36);
    font-weight: 500;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input::-moz-placeholder {
    color: rgb(227, 30, 36);
    font-weight: 500;
    -moz-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input:-ms-input-placeholder {
    color: rgb(227, 30, 36);
    font-weight: 500;
    -ms-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input::-ms-input-placeholder {
    color: rgb(227, 30, 36);
    font-weight: 500;
    -ms-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input::placeholder {
    color: rgb(227, 30, 36);
    font-weight: 500;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input:focus::-webkit-input-placeholder {
    opacity: 0.3;
    -webkit-transition: 0.1s opacity;
    transition: 0.1s opacity;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input:focus::-moz-placeholder {
    opacity: 0.3;
    -moz-transition: 0.1s opacity;
    transition: 0.1s opacity;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input:focus:-ms-input-placeholder {
    opacity: 0.3;
    -ms-transition: 0.1s opacity;
    transition: 0.1s opacity;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input:focus::-ms-input-placeholder {
    opacity: 0.3;
    -ms-transition: 0.1s opacity;
    transition: 0.1s opacity;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode input:focus::placeholder {
    opacity: 0.3;
    -webkit-transition: 0.1s opacity;
    transition: 0.1s opacity;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode button {
    font-family: var(--semiBold);
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    position: absolute;
    cursor: pointer;
    font-weight: 600;
    width: 135px;
    height: inherit;
    top: 0;
    right: 0;
    font-size: 16px;
    border-radius: 10px;
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode button:hover, .wrapper .cart .cartContent .orderInfo .promoCode button:focus {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(227, 30, 36) solid;
    color: rgb(227, 30, 36);
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode button:hover.disable:hover, .wrapper .cart .cartContent .orderInfo .promoCode button:hover.disable:focus, .wrapper .cart .cartContent .orderInfo .promoCode button:focus.disable:hover, .wrapper .cart .cartContent .orderInfo .promoCode button:focus.disable:focus {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) and (max-width: 719px) {
  .wrapper .cart .cartContent .orderInfo .promoCode button {
    background-color: rgb(255, 255, 255);
    color: rgb(227, 30, 36);
    border: 1px rgb(227, 30, 36) solid;
    cursor: default;
  }
  .wrapper .cart .cartContent .orderInfo .promoCode button:focus {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    border: none;
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) {
  .wrapper .cart .cartContent .orderInfo .promoCode input {
    font-size: clamp(12px, 1.94vw, 14px);
  }
  .wrapper .cart .cartContent .orderInfo .promoCode button {
    font-size: clamp(12px, 1.94vw, 14px);
    width: 108px;
  }
  .wrapper .confirmContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .wrapper .confirmContent .clientData {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) and (max-width: 360px) {
  .wrapper .confirmContent .clientData {
    padding: 0;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) {
  .wrapper .confirmContent .clientData .clientRow {
    border-top: 2px var(--grey-dark) solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 20px 0;
  }
  .wrapper .confirmContent .clientData .clientRow:first-child {
    border-top: none;
  }
  .wrapper .confirmContent .clientData .clientRow .deliveryHead, .wrapper .confirmContent .clientData .clientRow .pickupHead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 100%;
  }
  .wrapper .confirmContent .clientData .clientRow .deliveryHead span, .wrapper .confirmContent .clientData .clientRow .pickupHead span {
    font-weight: 500;
    font-size: clamp(12px, 1.94vw, 14px);
  }
  .wrapper .confirmContent .clientData .clientRow .deliveryHead label, .wrapper .confirmContent .clientData .clientRow .pickupHead label {
    position: absolute;
    top: 0;
    right: 15px;
  }
  .wrapper .confirmContent .clientData .clientRow .deliveryHead label input, .wrapper .confirmContent .clientData .clientRow .pickupHead label input {
    position: absolute;
    opacity: 0;
  }
  .wrapper .confirmContent .clientData .clientRow .deliveryHead label input:checked ~ .checkmark, .wrapper .confirmContent .clientData .clientRow .pickupHead label input:checked ~ .checkmark {
    background-color: rgb(227, 30, 36);
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .wrapper .confirmContent .clientData .clientRow .deliveryHead label input:focus ~ .targetInfo, .wrapper .confirmContent .clientData .clientRow .pickupHead label input:focus ~ .targetInfo {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .wrapper .confirmContent .clientData .clientRow .deliveryHead label .checkmark, .wrapper .confirmContent .clientData .clientRow .pickupHead label .checkmark {
    border: 2px rgb(227, 30, 36) solid;
    position: absolute;
    height: 15px;
    width: 15px;
    top: 0;
    left: 0;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .wrapper .confirmContent .clientData .clientRow .editData {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .wrapper .confirmContent .clientData .clientRow, .wrapper .confirmContent .clientData .deliveryRow, .wrapper .confirmContent .clientData .pickupRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    position: relative;
  }
  .wrapper .confirmContent .clientData .clientRow span, .wrapper .confirmContent .clientData .deliveryRow span, .wrapper .confirmContent .clientData .pickupRow span {
    font-weight: 600;
    font-size: clamp(12px, 1.94vw, 14px);
  }
  .wrapper .confirmContent .clientData .clientRow .editData, .wrapper .confirmContent .clientData .deliveryRow .editData, .wrapper .confirmContent .clientData .pickupRow .editData {
    position: absolute;
    right: 0;
  }
  .wrapper .confirmContent .confirmButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper .confirmContent .confirmButton a {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    -webkit-transition: 0.2s background-color, opacity;
    transition: 0.2s background-color, opacity;
    width: 100%;
  }
  .wrapper .confirmContent .confirmButton a:hover, .wrapper .confirmContent .confirmButton a:focus {
    background-color: rgb(255, 255, 255);
    border: 1px rgb(227, 30, 36) solid;
    color: rgb(227, 30, 36);
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
  }
  .wrapper .confirmContent .confirmButton a:hover.disable:hover, .wrapper .confirmContent .confirmButton a:hover.disable:focus, .wrapper .confirmContent .confirmButton a:focus.disable:hover, .wrapper .confirmContent .confirmButton a:focus.disable:focus {
    background-color: rgb(227, 30, 36);
    color: rgb(255, 255, 255);
  }
  .wrapper .confirmContent .confirmButton a.disable {
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) and (max-width: 719px) {
  .wrapper .confirmContent .confirmButton a {
    cursor: default;
  }
}
@media only screen and (max-width: 719px) and (min-width: 320px) {
  .wrapper .confirmContent .confirmButton a .totalSum {
    padding-left: 5px;
  }
}