@import "mixins";
@import "vars";
@media screen and #{$ui-mobile-min} {
  @include window;
  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    width: clamp(280px, 87.5vw, 425px);
    top: 50%;
    left: 50%;
    margin: 30px 0;
    transform: translate(-50%, -50%);
    .title {
      h1 {
        font-weight: 600;
        font-size: $font-24-static;
      }
    }
    .picture {
      background-image: url(../img/404@2x.png);
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
      position: relative;
      width: clamp(280px, 87.5vw, 320px);
      height: auto;
      margin-top: 30px;
      .errorCode {
        color: $color-white;
        position: absolute;
        text-align: center;
        font-weight: 700;
        width: 100%;
        top: 35px;
        font-size: 72px;
      }
      img {
        width: 100%;
        height: auto;
        margin-bottom: 33px;
      }
    }
    .info {
      text-align: center;
      margin-top: 10px;
      p, p ~ span {
        font-weight: 600;
        font-size: clamp(14px, 0.93vw, 18px);
      }
      a {
        @include buttonAnc;
        margin-top: 15px;
      }
    }
  }
}