@import "mixins";
@import "vars";
@media screen and #{$ui-mobile} {
  @include window;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .paymentTitle {
      margin-top: 30px;
      .titleContent {
        h1 {
          font-weight: 600;
          font-size: $font-24-static;
        }
      }
    }
    .payMethod {
      .payContent {
        background-color: $color-white-mixed;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 15px;
        border-radius: 10px;
        .payCashHead, .payCardHead, .payOnline {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          width: 100%;
          span {
            font-weight: 500;
            font-size: $font-14-mobile;
          }
          label {
            @include radioButton;
            position: absolute;
            right: 15px;
            top: 0;
          }
        }
        .changeSelect {
          display: flex;
          flex-direction: column;
          gap: 15px;
          #changeSum {
            color: $color-red;
            border: 1px $color-grey solid;
            font-weight: 500;
            width: 100%;
            height: 35px;
            padding-left: 15px;
            border-radius: 4px;
            &:focus {
              border-color: $color-red;
              outline: none;
            }
            &::placeholder {
              color: $color-grey;
            }
          }
          .changeShortSelect {
            display: flex;
            gap: 10px;
            label {
              display: flex;
              justify-content: center;
              height: 35px;
              input {
                opacity: 0;
                width: 0;
                height: 0;
                &:checked {
                  &~.checkButton {
                    color: $color-red;
                    border-color: $color-red;
                  }
                }
              }
              .checkButton {
                border: 1px $color-black solid;
                color: $color-black;
                align-content: center;
                white-space: nowrap;
                font-weight: 500;
                height: 35px;
                width: auto;
                font-size: $font-14-mobile;
                padding: 5px 10px;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
    .paymentConditions {
      .conditionsContent {
        display: flex;
        align-items: center;
        gap: 20px;
        label {
          @include checkbox;
          position: relative;
          width: 18px;
          height: 18px;
        }
        .conditions {
          font-weight: 500;
          width: 100%;
          font-size: $font-14-static;
          a {
            color: $color-red;
          }
        }
        a {
          display: flex;
          align-items: center;
          &:focus {
            & ~ .conditionsInfo {
              display: flex;
              opacity: 1;
              transition: opacity 0.3s;
            }
          }
        }
        .conditionsInfo {
          @include targetAlert;
          background-color: $color-white;
          color: $color-black;
          border: 2px $color-black solid;
          display: none;
          right: -11px;
          bottom: 45px;
          p {
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 12;
            -webkit-box-orient: vertical;
          }
        }
        position: relative;
      }
    }
    .paymentConfirm {
      padding: 20px 0 25px 0;
      .confirmContent {
        button {
          @include buttonAnc(true);
          width: 100%;
          .totalSum {
            padding-left: 5px;
          }
        }
      }
    }
  }
}